/* .main{
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: fixed;
  overflow: hidden
} */

.drawer_screen { 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%; 
  position: fixed; 
  z-index: 1;
  background: #000; 
  opacity: 0.5; 
}

.pop-ups { 
  width: 542rpx;
  height: 878rpx;
  position: fixed; 
  top: 114rpx;
  left: 102rpx;
  z-index: 2; 
  background: #fff; 
  border-radius: 5px; 
}

.company-image {
  height: 400rpx;
  width: 100%;
}
.slide-image {
  height: 100%;
  width: 100%;
}

.company-Introduction{
  position: relative;
  width: 100%;
  /* height: 200rpx; */
  height: 180rpx;
  border-bottom: 10px solid #F8F8F8;
}
.smt-icon{
  position: absolute;
  left: 22rpx;
  top: 30rpx;
  width: 150rpx;
  height: 140rpx;
}
.company-name{
  position: absolute;
  left: 200rpx;
  top:20rpx;
  font-size: 45rpx;
  font-weight: bold;
  color: #262626;
}
.introduction{
  position: absolute;
  /* top: 100rpx; */
  top: 90rpx;
  left: 200rpx;
  right:10rpx;
  /* font-size: 32rpx; */
  line-height: 40rpx;
   font-size: 30rpx;
  font-weight: bold;
  color: #595959;
}

.feature{
  position: relative;
  height: 220rpx;
  border-bottom: 10px solid #F8F8F8;
}
.feature-icon{
  position: absolute;
  top: 12rpx;
  left: 32rpx;
  width: 60rpx;
  height: 60rpx;
}
.feature-icon2{
  position: absolute;
  top: 13rpx;
  left: 32rpx;
  width: 66rpx;
  height: 66rpx;
}
.feature-icon3{
  position: absolute;
  top: 15rpx;
  left: 40rpx;
  width: 50rpx;
  height: 50rpx;
}
.feature-icon4{
  position: absolute;
  top: 15rpx;
  left: 40rpx;
  width: 55rpx;
  height: 55rpx;
}
.feature-name{
  position: absolute;
  top: 20rpx;
  left: 120rpx;
  font-size: 36rpx;
  font-weight: bold;
  color: #262626;
}
.feature-introduction{
  position: absolute;
  top: 90rpx;
  left: 32rpx;
  right: 2%;
  font-size: 28rpx;
  line-height: 40rpx;
  color: #595959;
}


.company-adress{
  position: relative;
  width: 100%;
  height: 200rpx;
  border-bottom: 10px solid #F8F8F8;
}
.adress-icon{
  position: absolute;
  top: 40rpx;
  left: 20rpx;
  width: 50rpx;
  height: 50rpx;
}
.short-address{
  position: absolute;
  top: 32rpx;
  left: 82rpx;
  font-size: 44rpx;
  font-weight: bold;
  color: #262626;
}
.detail-address{
  position: absolute;
  top: 116rpx;
  left: 82rpx;
  font-size: 28rpx;
  color: #B7B7B7;
}
.detail-icon{
  position: absolute;
  bottom: 38rpx;
  right: 30rpx;
  width: 48rpx;
  height: 48rpx;
}


.business-contacts{
  position: relative;
  width: 100%;
  height: 126rpx;
}
.business-icon{
  position: absolute;
  top: 30rpx;
  left: 40rpx;
  width: 68rpx;
  height: 68rpx;
}
.business-text{
  position: absolute;
  top: 40rpx;
  left: 120rpx;
  font-size: 38rpx;
  font-weight: bold;
  color: #262626;
}



.head{  
 padding:30rpx; 
 font: 34rpx "microsoft yahei"; 
 text-align: center; 
}

.pop-content {
  width: 542rpx;
  height: 665rpx; 
}

.single-row {
  background-color: #F3F4F4;
  border: 1rpx solid #BBBBBB;
  border-radius: 5px;
  margin-top: 12rpx;
  margin-left: 36rpx;
  height: 60rpx; 
  width: 450rpx;
  line-height: 60rpx;
  color: #888888;
  font-size: 28rpx;
  padding-left: 20rpx;
  }
.large-box{
  background-color: #F3F4F4;
  border: 1rpx solid #BBBBBB;
  border-radius: 5px;
  margin-top: 12rpx;
  margin-left: 36rpx;
  width: 450rpx;
  height: 200rpx;
  color: #888888;
  font-size: 28rpx; 
  padding-left: 20rpx;
}
.two-peer{
  font-size: 34rpx;
  text-align: center; 
  background-color: #fff;
  color: #F65F6C;
  display: inline-block;
  width: 271rpx;
}

.two-peer::after{
  border: 0rpx;
}

.quit{
  color: #7B7A7A;
}

.share{
  position: fixed;
  bottom: 80rpx;
  background-color: #fff;
  right: 25rpx;
  width: 150rpx;
  height: 75rpx;
  line-height: 75rpx;
  text-align: center;
  border-radius: 35rpx;
  box-shadow:1rpx 1rpx 7rpx 7rpx #f5f5f5;
}
.share::after {
  border: 0;
}

.share image{
  width: 30rpx;
  height: 30rpx;
  position: absolute;
  left: 25rpx;
  top: 22rpx;
}

.share text{
  font-size: 15px;
  position: absolute;
  right: 25rpx;
  color: #666666;
}