<view class='info-box'>
  <view class='outer-frame'>
    <view class='info-frame'>
      <text class='text'>姓名</text>
      <input class='info-word' type='text' maxlength="12" placeholder="请输入" placeholder-style='color:#cdcdcd;bottom:50rpx;' value="{{info.resume_name}}" bindinput="inputChange" data-name="resume_name"></input>
    </view>
    <picker mode="selector" bindchange="pickerChange" data-name="gender" value="{{genderIndex}}" range="{{genderArray}}">
      <view class='info-frame'>
        <text class='text'>性别</text>
        <block wx:if="{{!info.gender}}">
          <text class='info-input'>请选择</text>
          <image class='info-icon ' src='../../smt-image/go-ahead.png'></image>
        </block>
        <block wx:else>
          <text class='info-choose'>{{info.gender}}</text>
        </block>
      </view>
    </picker>
    <picker mode="date" fields="month" data-name="birth_date" start="1960-01-01" end="{{endDate}}" data-name="birth_date" bindchange="inputChange" value="{{info.birth_date}}">
      <view class='info-frame'>
        <text class='text'>出生年月</text>
        <block wx:if="{{!info.birth_date}}">
          <text class='info-input'>请选择</text>
          <image class='info-icon ' src='../../smt-image/go-ahead.png'></image>
        </block>
        <block wx:else>
          <text class='info-choose'>{{info.birth_date}}</text>
        </block>
      </view>
    </picker>
  </view>
  <!-- <view class='outer-frame'>
    <picker mode="selector" bindchange="pickerChange" data-name="edu" value="{{eduindex}}" range="{{eduArray}}">
      <view class='info-frame'>
        <text class='text'>最高学历</text>
        <block wx:if="{{!info.edu}}">
          <text class='info-input'>请选择</text>
          <image class='info-icon ' src='../../smt-image/go-ahead.png'></image>
        </block>
        <block wx:else>
          <text class='info-choose'>{{info.edu}}</text>
        </block>
      </view>
    </picker>
    <picker mode="selector" bindchange="pickerChange" data-name="year" value="{{yearIndex}}" range="{{yearArray}}">
      <view class='info-frame'>
        <text class='text'>工作年限</text>
        <block wx:if="{{!info.year}}">
          <text class='info-input'>请选择</text>
          <image class='info-icon ' src='../../smt-image/go-ahead.png'></image>
        </block>
        <block wx:else>
          <text class='info-choose'>{{info.year}}</text>
        </block>
      </view>
    </picker>
  </view> -->
  <view class='outer-frame'>
    <view class='info-frame'>
      <text class='text'>手机号码</text>
      <input class='info-word' type='number'  maxlength="11" placeholder="请输入" placeholder-style='color:#cdcdcd;bottom:50rpx;' value="{{info.phone}}" bindinput="inputChange" data-name="phone"></input>
    </view>
    <view class='info-frame'>
      <text class='text'>联系邮箱</text>
      <input class='info-word' type='text' placeholder="请输入" placeholder-style='color:#cdcdcd;bottom:50rpx;' bindinput="inputChange" value="{{info.email}}" data-name="email"></input>
    </view>
  </view>
  <view class='outer-frame'>
    <picker mode="region" bindchange="locationChange" data-name="location" value = "{{hasInfo ? locationArray : ''}}">
      <view class='info-frame'>
        <text class='text'>所在城市</text>
        <block wx:if="{{!info.location}}">
          <text class='info-input'>请选择</text>
          <image class='info-icon ' src='../../smt-image/go-ahead.png'></image>
        </block>
        <block wx:else>
          <!-- <text class='info-choose'>{{info.location}}</text> -->
          <text class='info-choose'>{{info.location}}</text>
        </block>
      </view>
    </picker>
    <picker mode="selector" bindchange="pickerChange" data-name="now_status" value="{{now_statusIndex}}" range="{{now_statusArray}}">
      <view class='info-frame'>
        <text class='text'>当前状态</text>
        <block wx:if="{{!info.now_status}}">
          <text class='info-input'>请选择</text>
          <image class='info-icon ' src='../../smt-image/go-ahead.png'></image>
        </block>
        <block wx:else>
          <text class='info-choose'>{{info.now_status}}</text>
        </block>
      </view>
    </picker>
  </view>
  <view class='info-frame'>
    <text class='text'>一句话介绍</text>
  </view>
  <view class='big-frame'>
    <textarea class='content' type='text' maxlength="58" placeholder="说出你的心声（限50个字）" placeholder-style='color:#cdcdcd;font-size: 30rpx;' bindinput="inputChange" data-name="introduction" value="{{info.introduction}}"></textarea>
  </view>
  <view class='save' bindtap="saveInfo">
    <text class='save-text'>保存</text>
  </view>
</view>