<view class='container'>
  <block wx:if='{{jobDetails && jobDetails.length > 0}}'>
  <view class='job' bindtap="openJob" data-num='{{index}}' wx:for='{{jobDetails}}' wx:key='{{recruitment_id}}' wx:if="{{item.status == '发布'}}" >
    <view class='job-name'>{{item.post}}</view>
    <view class='job-claim'>{{item.post_req}}/{{item.edu_req}}</view>
    <!-- <view class='job-salary'>{{item.salary == 0 ? "面议" : item.salary}}</view> -->
    <view class='job-salary'>{{item.salary == 0 ? "面议" : item.salary}}</view>
    <view class='job-time'>1天前发布</view>
  </view>
  </block>
  <view class='box' wx:else>
      <image class="nojob-icon" src='../../smt-image/sorry.png'></image>
      <text class='no-job'>暂时没有招聘需求，晚点再来看吧~</text>
  </view>
</view>
<view class='container' wx:if='{{loadSpin}}'>
    <i-spin fix class='spin'></i-spin>
</view>