.proexp-box{
  width: 100%;
  height: 100vh;
  background-color: #F8F8F8;
}

.proexp-frame{
  width: 100%;
  height: 70rpx;
  position: relative;
  background-color: #fff;
  padding-top: 30rpx;
  border-bottom: 2rpx solid #f8f8f8;
}

.name{
  font-size: 32rpx;
  position: absolute;
  left: 50rpx;
}

.proexp-input{
  font-size: 32rpx;
  height: 42rpx;
  line-height: 42rpx;
  position: absolute;
  top:30rpx;
  right: 70rpx;
  color: #cdcdcd;
}

.proexp-choose{
  font-size: 32rpx;
   bottom: 30rpx;
  color: #cdcdcd;
  position: absolute;
  right: 70rpx;
}
.proexp-word{
  text-align:right;
  font-size: 32rpx;
  width:400rpx;
  height: 42rpx;
  line-height: 42rpx;
  position: absolute;
  top: 25rpx;
  right: 75rpx;
  color: #cdcdcd;
}

.proexp-icon{
  position: absolute;
  top:28rpx;
  right: 30rpx;
  width: 48rpx;
  height: 48rpx;
}

.proexp-content{
  width: 100%;
  height: 70rpx;
  margin-top:28rpx;
}

.proexp-bigframe{
  width: 100%;
  height: 332rpx;
  position: relative;
  background-color: #fff;
}

.content{
  color:#cdcdcd;
  font-size: 32rpx;
  left: 50rpx;
  top: 15rpx;
}

.proexp-sframe{
  width: 100%;
  height: 60rpx;
  position: relative;
  padding-top: 8rpx;
  padding-left: 50rpx;
  background-color: #fff;
}

.save{
  position: relative;
  width: 596rpx;
  height: 96rpx;
  margin: auto;
  margin-top: 90rpx;
  border-radius: 180rpx;
  background-color: #F65F6C;
  display: flex; 
  line-height: 96rpx; 
}


.save-text{
  margin: 0 auto;
  color:  #fff;
}

.del {
  position: relative;
  width: 750rpx;
  height: 96rpx;
  margin-top: 25rpx;
}

.del>text {
  font-size: 32rpx;
  height: 42rpx;
  line-height: 42rpx;
  position: absolute;
  left: 260rpx;
  color: #BDBDBD;
}