<view class='proexp-box'>
  <view class='proexp-frame'>
<text class='name'>项目经验</text>
    <input class='proexp-word' type='text' maxlength="12" placeholder="请输入" placeholder-style='color:#cdcdcd;' value="{{proExp.business_name}}" bindinput="inputChange" data-name="business_name"></input>
  </view>
  <view class='proexp-frame'>
<text class='name'>你的职责</text>
    <input class='proexp-word' type='text' maxlength="12" placeholder="请输入" placeholder-style='color:#cdcdcd;' value="{{proExp.business_post}}" bindinput="inputChange" data-name="business_post"></input>
  </view>
  <picker mode="date" fields="month" start="2000-01" end="{{endDate}}" bindchange="inputChange" data-name="time_start" value="{{proExp? proExp.time_start : ''}}">
    <view class='proexp-frame'>
      <text class='name'>开始时间</text>
      <block wx:if="{{!proExp.time_start}}">
        <text class='proexp-input'>请选择</text>
        <image class='proexp-icon  ' src='../../smt-image/go-ahead.png'></image>
      </block>
      <block wx:else>
        <text class='proexp-choose'>{{proExp.time_start}}</text>
      </block>
    </view>
  </picker>
  <picker mode="date" fields="month" start="2000-01" end="{{endDate}}" bindchange="inputChange" data-name="time_end" value="{{proExp? proExp.time_end : ''}}">
    <view class='proexp-frame'>
      <text class='name'>结束时间</text>
      <block wx:if="{{!proExp.time_end}}">
        <text class='proexp-input'>请选择</text>
        <image class='proexp-icon  ' src='../../smt-image/go-ahead.png'></image>
      </block>
      <block wx:else>
        <text class='proexp-choose'>{{proExp.time_end}}</text>
      </block>
    </view>
  </picker>
  <view class='proexp-business_content'>
    <text class='name'>项目内容</text>
  </view>
  <view class='proexp-bigframe'>
    <textarea class='content' type='text' maxlength="200" placeholder="请输入项目描述..." placeholder-style='color:#cdcdcd;font-size: 30rpx;' value="{{proExp.business_content}}" bindinput="inputChange" data-name="business_content"></textarea>
  </view>
  <view class='proexp-content'>
    <text class='name'>项目链接（若有）</text>
  </view>
  <view class='proexp-sframe'>
    <input class='content' type='text' placeholder='https://' maxlength="300"  placeholder-style='color:#cdcdcd;font-size: 30rpx;' value="{{proExp.link}}" bindinput="inputChange" data-name="link"></input>
  </view>
  <view class='save' bindtap="savePro">
    <text class='save-text'>保存</text>
  </view>
  <view class='del' bindtap='deletePro' wx:if='{{index === 0 || index}}'>
    <text>删除此项目经验</text>
  </view>
</view>